@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #fafafa; /* zinc-50 */
}

@media (prefers-reduced-motion: reduce) {
  .animate {
    animation: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Space Grotesk', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
